@model CreateDocumentViewModel

@{
    ViewData["Title"] = "Insert Document";
}


<form asp-controller="Document" asp-action="Create" method="post">
    <h2>Create Document</h2>
    <hr />
    <div class="row">
        @Html.HiddenFor(model => model.LokasiPenyimpananList)
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.AgreementNumber)
                @Html.TextBoxFor(model => model.AgreementNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AgreementNumber, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BranchID)
                @Html.TextBoxFor(model => model.BranchID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoBPKB)
                @Html.TextBoxFor(model => model.NoBPKB, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NoBPKB, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TanggalBPKBIn)
                @Html.TextBoxFor(model => model.TanggalBPKBIn, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.TanggalBPKBIn, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TanggalBPKB)
                @Html.TextBoxFor(model => model.TanggalBPKB, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.TanggalBPKB, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoFaktur)
                @Html.TextBoxFor(model => model.NoFaktur, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NoFaktur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.TanggalFaktur)
                @Html.TextBoxFor(model => model.TanggalFaktur, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.TanggalFaktur, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NoPolisi)
                @Html.TextBoxFor(model => model.NoPolisi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NoPolisi, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LokasiPenyimpanan)
                @Html.DropDownListFor(model => model.LokasiPenyimpanan, Model.LokasiPenyimpananList, "Select Lokasi Penyimpanan", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LokasiPenyimpanan, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="row justify-content-end" style="margin-top: 20px;">
        <div class="col-md-6 text-right">
            <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>

