@model LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}

<form asp-controller="Account" asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <h2>Welcome!</h2>
    <p>Please log in to access your account.</p>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-top: 20px;">
        <div class="col-md-10 text-center">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </div>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
</form>
